# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <johnn@John-Napiorkowski-MacBook-Pro.local>
Tomas Doran <bobtfish@bobtfish.net> t0m <bobtfish@bobtfish.net>
